<% include header %>
<div class="row">
    <div class="col-md-6">
<form action="">
    First Name:<br>
    <input type="text" name="fname" pattern="[A-Za-z]{1,}" required><br><br>
    Last Name:<br>
    <input type="text" name="lname" pattern="[A-Za-z]{1,}" required><br><br>
    Phone Number:(format xxx-xxx-xxxx)<br>
    <input type="tel" name="phone number" pattern="^\d{3}-\d{3}-\d{4}$" required><br><br>
    Email:<br>
    <input type="email" name="email" required><br><br>
    Message:<br>
    <textarea name="message" rows="3" cols="30" >say Hello!!</textarea><br><br>
    <input type="submit" value="submit">
    <input type="reset" value="cancel">
</form>
</div>
<div class="col-md-6">
<a href="https://github.com/vennela-cheekoti/"><i class="fa fa-github" style="font-size:48px;color:black" id="git"><br>github</i></a><br>
<a href="https://bitbucket.org/vennela-cheekoti/"><i class="fa fa-bitbucket" style="font-size:48px;color:black" id="bit"><br>bitbucket</i></a><br>
<a href="https://www.linkedin.com/feed/"><i class="fa fa-linkedin" style="font-size:48px;color:black" id="link"><br>linkedin</i></a>
</div> 
</div>
<% include footer %>
