<% include header %>
<div class="row">
    <div class="col-md-6">

<h1>Simple Interest Calculation</h1>
<p id="simple">
Amount:<br> <input id="p"><br><br>
Rate: <br><input id="r"><br><br>
No. of Years: <br><input id="n"><br><br>

<input type="button" value="calculate" id="" onclick="calculateSimple(document.getElementById('p').value , document.getElementById('n').value , document.getElementById('r').value);">          




<p id="result"></p>
</p>
</div>
<div class="col-md-6">
  <h1> Compound Interest Calculation</h1>
  <form>
      
    
      Enter your Principal Amount :<br><input type="text" id="getPrincipalValue" name="prncipal" ><br>
      Enter the interest Rate :<br><input type="text" id="getInterestRate" name="interest"><br>
      Enter the Interest paid in " n" amount of  year : <br><input type="text" id="getYear" name="year"><br>
      Number of Times interest paid per year? :<br><input type="text" id="getTiming" name="timing"><br><br>
      <P>
      <input type="button" value="Calculate" id="" onclick="compoundInterest(this.principal , this.interest , this.nyear , this.ntime);"></P>


</form>
        <p id="compounded"> </p>


</div>
</div>
<div>
  <p>Results of the unit tests are available at
    <a href="test/test.html">test/test.html</a>.</p>
  <br/>
</div>
<script src="js/game.js"></script>
<% include footer %>