<% include header %>
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-9">
        <header> <h1> Introduction(Vennela Cheekoti) </h1> </header>
          <article>
            <h3 class="section-header">Education</h3>
            <section id="current-section"><h4>I am from India. Currently I am pursing masters in Applied Computer Science for this Fall 2018.
              I have completed my under graduation in Information Technology stream from Bhoj Reddy Engineering College for Women, Hyderabad, India.
            </h4></section>
            <h3 class="section-header">Skills</h3>
            <section id="past-section"><h4>Technical Skills: C, Java, Designing Web applications, Microsoft office.<br>
              Key sills:Ability to handle and prioritise heavy workloads, Easily adaptable to changes, Organising skills
            </h4></section>
            <h3 class="section-header">Interests</h3>
            <section id="future-section"><h4>Reading Novels, Exploring new places, Listening to music</h4></section>
            <section>
              <h3 class="section-header">Contact</h3>
              <ul id="schedule">
               <h4> <li>Phone: +1 660-528-0565</li>
                <li>Email: vennelacheekoti@gmail.com</li></h4>
              </ul>
            </section>
          </article>
          <iframe width="600" height="400" src="https://www.youtube.com/embed/cB5Wq8TQKA8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            
            
      </div>
      <div class="col-md-3">
        <img src="images\image.jpg" class="img-circle" id="image">
      </div>
      </div>
      
      <div class="col-md-12">
        <footer>
          <p>Northwest Missouri State University</p>
        </footer>
      </div>
    </div>
  </div>
  <!-- /container -->
  <% include footer %>  
