body {
 
  background-image: url("/images/image1.jpg");
  background-repeat: no-repeat;
  background-size: 200%;

}
article{
  
  font-family:"arial";
  text-indent: 50px;
  text-align: justify;
}
header{
 
  text-align: left;
  font-weight:bold;
  

}
.section-header{
  font-family:serif;
  font-size: 20px;
  font-style: oblique;
  text-decoration: underline;
  text-align:left;
  font-weight: bold;
}
footer{
 
  text-align: left;
  font-weight:bold;

}
aside{
  font-style: oblique;
  font-weight:bold;
  font-size:20px;
  
}
#past-section{
  font-family: comic;
  color:brown;
  font-size: 15px;
  font-weight: bold;
  text-align:left;
}
#future-section{
  font-family: comic;
  color:brown;
  font-size: 15px;
  font-weight: bold;
  text-align:left;
}
#current-section{
  font-family: comic;
  color:brown;
  font-size: 15px;
  font-weight: bold;
  text-align:left;
}
#schedule{
  font-family: comic;
  color: brown;
  font-size: 15px;
  font-weight: bold;
  text-align:left;
}
#image{
  height:400px;
  width:300px;
}
#git{
  margin-top:50px;
  margin-left:100px;
}
form{
  margin-top:100px;
  margin-left:100px;
  font-size: 20px;
}
#bit{
  margin-top:50px;
  margin-left:100px;
}
#link{
  margin-top:50px;
  margin-left:100px;
}
